/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #4d394b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.post-header {
  height: 80px;
  background-color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #9e9ea6;
}

.post-header h1 {
  /*color: #9e9ea6;*/
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.date {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #9e9ea6;
}

.username {
  font-size: 15px;
  font-weight: bold;
}

.time {
  color: #9e9ea6;
}

.post-content {
  padding-top: 100px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 22px;
}

.sidebar-nav li.sidebar-title {
  color: #ab9ba9;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar-nav li.sidebar-channel:hover {
  background-color: #877184;
}

.sidebar-nav li a .hashtag {
    color: #ab9ba9;
    opacity: 0.65;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ab9ba9;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    /*height: 65px;*/
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
    padding-right: 40px;
}

.sidebar-brand > img {
  height: 120px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0 15px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
