<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <img src="http://vegoa.vegoans.org/img/logo.png"/>
      <a href="{{ "/" | prepend: site.baseurl }}">
        {{site.title}}
      </a>
    </li>
    <li class="sidebar-title">Channels</li>
    {% assign sorted_pages = (site.pages | sort: 'title') %}
    {% for page in sorted_pages %}
      {% if page.title %}
        <li class="sidebar-channel">
          <a href="{{ page.url | prepend: site.baseurl }}">
            <span class="hashtag">#</span>
            {{ page.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<!-- /#sidebar-wrapper -->
