{% assign username = message.user | user_name %}
{% assign userimg = message.user | user_img %}
{% capture messagets %}{{ message.ts }}{% endcapture %}
{% assign messagetime = messagets | slack_timestamp | date: "%r" %}
{% assign messagetext = message.text | slack_message | markdownify %}

<div>
  <div class="message">
    <span><img src="{{ userimg }}" /></span>
    <span class="username">{{ username }}</span>
    <span class="time">{{ messagetime }}</span>
    <div class="msg">{{ messagetext }}</div>
  </div>
</div>
<br/>
