---
layout: page
---

{% assign channel_purpose = page.channel | channel_purpose %}

<p>{{ channel_purpose }}</p>

{% assign sorted_files = (site.data[page.channel] | sort: 0) %}
{% for file in sorted_files %}
  {% assign date = file[0] %}
  {% assign day_data = file[1] %}
  <h1 class="date">{{ date | date_to_string }}</h1>
  <div class="messages">
    {% for message in day_data %}
      {% if message.subtype == "file_share" %}
        {% include filemessage.html %}
      {% elsif message.subtype == nil %}
        {% include message.html %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
