---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
      #{{ page.title }}
    </h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
